<p id="notice"><%= notice %></p>

<h1>Employees</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Dni</th>
      <th>Username</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Group</th>
      <th>Datein</th>
      <th>Dateout</th>
      <th>Password</th>
      <th>Isvalid</th>
      <th>Languageit</th>
      <th>Validationorigin</th>
      <th>Issystemuser</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.id %></td>
        <td><%= employee.dni %></td>
        <td><%= employee.userName %></td>
        <td><%= employee.firstName %></td>
        <td><%= employee.lastName %></td>
        <td><%= employee.email %></td>
        <td><%= employee.group_id %></td>
        <td><%= employee.dateIn %></td>
        <td><%= employee.dateOut %></td>
        <td><%= employee.password %></td>
        <td><%= employee.isValid %></td>
        <td><%= employee.languageIt %></td>
        <td><%= employee.validationOrigin %></td>
        <td><%= employee.isSystemUser %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>
